go 1.24.0

use (
	./aliyun
	./appstore
	./aws/cloudwatch
	./aws/ec2
	./aws/s3
	./aws/ses
	./aws/sqs
	./aws/ssm
	./db
	./deepl
	./exchange
	./godaddy
	./log
	./mail
	./redis
	./slack
	./unred
	./util
)
