go 1.24.0

use (
	./ai
	./aliyun
	./appstore
	./asynq
	./aws/cloudwatch
	./aws/ec2
	./aws/s3
	./aws/ses
	./aws/sqs
	./aws/ssm
	./chatwoot
	./chatwoot/calcom
	./db
	./deepl
	./exchange
	./fastgpt
	./github/issue
	./godaddy
	./log
	./mail
	./nextpay
	./openai/filesearch
	./redis
	./slack
	./unred
	./util
)
